<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: content">
<head>
    <title>Categorias - Gestão de Estoque</title>
</head>
<body>
<h1>Categorias</h1>
<a th:href="@{/categoria/novo}">Adicionar Nova Categoria</a>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="categoria : ${categorias}">
        <td th:text="${categoria.id_categoria}"></td>
        <td th:text="${categoria.nome}"></td>
        <td th:text="${categoria.descricao}"></td>
        <td>
            <a th:href="@{/categoria/editar/{id}(id=${categoria.id_categoria})}">Editar</a>
            <a th:href="@{/categoria/excluir/{id}(id=${categoria.id_categoria})}">Excluir</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
