<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:block="${title}">Gestão de Estoque</title>
    <link rel="stylesheet" href="/css/style.css"> <!-- Link para seu CSS -->
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/login}">Login</a></li>
            <li><a th:href="@{/register}">Cadastrar</a></li>
            <li><a th:href="@{/logout}">Sair</a></li>
        </ul>
    </nav>
</header>

<main>
    <div class="content" th:replace="${content}"></div>
</main>

<footer>
    <p>&copy; 2024 Gestão de Estoque</p>
</footer>
</body>
</html>










